# Node / Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno y Claves
.env
.env.local
.env.development.local

# Archivos de Sistema e IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos de Compilación
dist/
build/